<html layout:decorate="~{usr/common/layout}">

<head>
    <title th:text="|QnA 게시판|"></title>
</head>

<body>

<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <div class="container w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-cubes"></i>
            <span th:text="|Question 글쓰기|"></span>
        </h1>

        <div class="flex flex-col gap-6">
            <div class="card-body">

                <form th:action="@{/usr/qna/q/create}" method="post">

                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>
